* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url('https://img.freepik.com/free-vector/space-game-background-neon-night-alien-landscape_107791-1624.jpg?size=626&ext=jpg&ga=GA1.2.654880244.1659504230');
    background-size: cover;
     text-align: center;
    justify-content: center;
    color: white; 
    align-items: center;
     /* border: 2px solid red; */
    overflow: hidden;
  }
  .cls{
    /* font-family: arial; */
    /* flex-direction: column; */
    min-width: 100vh;
    width: 100%;
    height: 100vh;
    font-size: 30px;
    display: flex;
    
  }
  h1{padding: 0;margin: 0;}
  #canvas {
    /* border: 2px solid green; */
    /* margin-top: 10px; */
    /* background-color: azure; */
    border-radius: 10px;
  }
  /* #canvas img{
    width: 900px;
    height: 900px;
  } */
  #source {
    display: none;
    /* border: 2px solid blue;   */
    
  }
  /* .btn1{
    audi
  } */